body{color:white;padding:0;margin:0;height:100%;line-height:20px;background-color:#161616;padding-top:20px;font-family:monospace}.ease{transition:all 0.3s ease-in-out}
.dark{filter:invert(100%) contrast(100%) brightness(100%)}.dark .no-invert{filter:invert(100%) contrast(100%) brightness(100%)}
.navi{position:fixed;z-index:999;top:0;left:0;right:0;height:20px;background-color:black;padding:0 4px;box-shadow:0 2px 4px rgba(255,255,255,.08)}
.navi .ico{margin:2px;width:16px;height:16px;display:inline-block;cursor:pointer;background-size:cover}
.navi .ico-sun{background-image:url(/sun.png)}
.navi select{max-width:200px;height:18px;font-size:12px;font-family:monospace;vertical-align:top;background-color:black;color:white;margin:1px;padding:0 4px;border:solid 1px gray;}
.navi select>option{font-size:12px;background-color:black;font-weight:normal}
.dark .navi>select>option{background-color:white;color:black}
.page{margin:8px;padding:4px;background-color:black;border:1px solid rgba(255,255,255,.1);border-radius:6px}.fright{float:right}
.page>*{margin-bottom:4px}.page>*:last-child{margin:0}
.dark .jvc{filter:invert(100%) contrast(100%) brightness(100%)}
pre{margin:0px}
